# Python
__pycache__/
*.py[cod]

# Virtualenv
venv/
.venv/

# Git
.git/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store

# Secrets
.env*
!.env.example

# Build
dist/
build/
*.egg-info/

# Cache
.pytest_cache/
.coverage
htmlcov/

# DB local
*.sqlite3
