__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.venv/
venv/
env/

*.sql
*.db

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.vscode/
.idea/

logs/
*.log

docker-data/

node_modules/
build/
dist/

.coverage
htmlcov/
.pytest_cache/
