@import "../styles/variables";

.loading-warning {
  margin-top: 30px;
  color: $text-color;
  font-size: 13px;
}

.config-panel {
  background: $panel;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  .config-title {
    font-size: 14px;
    color: $text-color;
    margin-bottom: 15px;
    padding-bottom: 8px;
    box-shadow: 0 1px 0 0 rgba($text-color, 0.25);
  }
  
  .field {
    margin-bottom: 15px;
    font-size: 13px;
    display: flex;
    flex-direction: column;

    .error {
      color: $danger-color;
      margin: 5px 0 0 3px;
    }

    label {
      margin-bottom: 5px;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    input,
    select {
      padding: 8px 35px 8px 8px;
      border: 0 solid transparent;
      border-radius: 8px;
      background-color: $bg-color;
      color: $text-color;
    }

    input:focus-visible,
    select:focus-visible {
      outline: 1px solid $text-color;
    }

    select {
      cursor: pointer;
      appearance: none;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNFMUUwRTAiIHN0cm9rZS13aWR0aD0iMi41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwb2x5bGluZSBwb2ludHM9IjYgOSAxMiAxNSAxOCA5Ij48L3BvbHlsaW5lPjwvc3ZnPg==");
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 18px;
    }

    .symbol-select {
      &__control {
        background-color: $bg-color;
        border: 0 solid transparent;
        border-radius: 8px;
        min-height: 62px;
        font-size: 13px;
        cursor: pointer;
      }
      
      &__control--is-focused {
        box-shadow: none;
      }

      &__value-container {
        padding: 0 8px;
      }

      &__value-container--has-value {
        margin-bottom: 2px;
      }

      &__menu {
        background-color: $bg-color;
        outline: 1px solid $text-color;
        color: $text-color;
        font-size: 13px;
        padding: 1px;
        z-index: 10;
      }

      &__menu-list {
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            background: $bg-color;
            border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: $detail-color;
            border-radius: 8px;
        }

        &::-webkit-scrollbar-corner {
            background: $panel;
        }
      }

      &__option {
        background-color: $bg-color;
        color: $text-color;
      }

      &__option--is-focused {
        background-color: $select-hover;
      }

      &__single-value {
        color: $text-color;
      }

      &__multi-value {
        background-color: $select-hover;
        border-radius: 8px;
        color: $text-color;
      }

      &__multi-value__label {
        color: $text-color;
      }

      &__multi-value__remove {
        color: $text-color;

        &:hover {
          background-color: $danger-color;
          color: $text-color;
        }
      }

      &__input-container {
        color: $text-color;
      }

      &__placeholder {
        color: $text-color;
      }

      &__indicators {
        max-height: 31px;
      }

      &__clear-indicator {
        color: $text-color;
        
        &:hover {
          color: $danger-color;
        }
      }

      &__dropdown-indicator {
        color: $text-color;
        width: 30px;
        height: 30px;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNFMUUwRTAiIHN0cm9rZS13aWR0aD0iMi41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwb2x5bGluZSBwb2ludHM9IjYgOSAxMiAxNSAxOCA5Ij48L3BvbHlsaW5lPjwvc3ZnPg==");
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 18px;

        svg {
          display: none;
        }
      }

      &__indicator-separator {
        display: none;
      }
    }
  }

  .actions {
    margin-top: 15px;

    button {
      width: 100%;
      background-color: $primary-color;
      color: $white;
      border: none;
      border-radius: 8px;
      font-size: 13px;
      cursor: pointer;
      text-transform: uppercase;
      height: 31px;
      max-height: 31px;
    }
  }
}
