// colors
$primary-color: #4F739E;
$success-color: #10B981;
$danger-color: #CF6679;
$text-color: #B0B0B0;
$bg-color: #0D1117;
$panel: #21262D;
$detail-color: #424952;
$select-hover: #334155;
$white: #FFFFFF;
$white-variant-1: #e0e0e0;

// breakpoints
$breakpoint-lg: 1200px;
$desktop: $breakpoint-lg;

//mixins
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
