@use '../../styles/variables' as *;

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
}

.card {
  width: 80vw;
  min-width: 240px;
  max-width: 400px;
  padding: 32px;

  @include respond-to("tablet") {
    width: 400px;
  }
}
