@use '../../styles/variables' as *;

.layout {
  min-height: 100vh;
  background-color: $background-color;
}

.content {
  padding: 24px 16px;
  
  @include respond-to("tablet") {
    padding: 24px;
  }
}
