@use '../../../styles/variables' as *;

.page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  min-height: 0;

  @include respond-to("desktop") {
    flex-direction: row;
    align-items: stretch;
    gap: 24px;
  }
}

.configCard {
  padding: 16px;

  @include respond-to("desktop") {
    flex: 0 1 500px;
    max-width: 500px;
    padding: 24px;
  }
}

.configWrapper {
  height: 100%;
  min-height: 0;
}

.signalsCard {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include respond-to("desktop") {
    flex: 1 1 0;
    min-height: 0;
    min-width: 0;
  }
}
