@use '../../../styles/variables' as *;

.form {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.field label {
  color: $text-primary-color;
}

.error {
  min-height: 8px;
  color: $text-error-color;
}

.loading {
  padding: 24px;
  text-align: center;
  color: $text-secondary-color;
}
