ENV=local
DATABASE_URL=postgresql://user:password@localhost:port/db_name
GRPC_PORT=replace_port
GRPC_SSL_CERT=../../certs/signal-service.pem
GRPC_SSL_KEY=../../certs/signal-service.key
MARKET_DATA_SERVICE_HOST=replace_host
MARKET_DATA_SERVICE_PORT=replace_port
SIGNAL_SERVICE_SECURE=false
TRUSTED_CA_CERT=../../certs/root-ca.pem
AUTH_SERVICE_HOST=replace_host
AUTH_SERVICE_PORT=replace_port
