ENV=local
DATABASE_URL=postgresql://user:password@localhost:port/db_name
GRPC_PORT=replace_port
GRPC_SSL_CERT=replace_cert
GRPC_SSL_KEY=replace_key
MARKET_DATA_SERVICE_HOST=replace_host
MARKET_DATA_SERVICE_PORT=replace_port
SIGNAL_SERVICE_SECURE=false
SIGNAL_SERVICE_CERT=replace_cert
