ENV=local
DATABASE_URL=postgresql://user:password@localhost:port/db_name
JWT_SECRET=replace_secret
ENCRYPTION_KEY=replace_key
GRPC_PORT=replace_port
GRPC_SSL_CERT=../../certs/auth-service.pem
GRPC_SSL_KEY=../../certs/auth-service.key
